<%= simple_form_for(@student_activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :course_session, :label_method => :id %>
    <%= f.input :action %>
    <%= f.input :date %>
    <%= f.input :time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

 <%= link_to 'Destroy', @student_activity, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
