<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @student_activity.user.name %>
</p>

<p>
  <b>Course:</b>
  <% course_id = @student_activity.course_session_id %>
  <%= Course.find(course_id).name %>
</p>

<p>
  <b>Course session:</b>
  <%= @student_activity.course_session_id %>
</p>

<p>
  <b>Action:</b>
  <%= @student_activity.action %>
</p>

<p>
  <b>Date:</b>
  <%= @student_activity.date %>
</p>

<p>
  <b>Time:</b>
  <%= @student_activity.time %>
</p>


<%= link_to 'Home', root_path %> |

