<p><b> User:</b> <%= @user.name %></p>
<p><b>Email:</b> <%= @user.email if @user.email %></p>
<p><b>Role:</b>
  <% @user.roles.each do |r| %>
      <%= r.name  %>
  <% end %>

</p>

<% if @user.has_role?(:student) == true  %> <br>
    <p><b>Courses:</b>
    <%  @user.courses.each do |c| %>
          <%= link_to(c.name, c) %>
      <% end %>
 <% end %>

 <% if current_user.has_role?(:admin) == true && @user.has_role?(:student) == true  %>

    <% if !@user.courses.empty? %>
            <%= form_tag(course_remove_user_path(@user)) do %>
                    <table>
                      <tr>
                        <th>Course</th>
                        <th>Remove?</th>
                      </tr>
                      <% for course in @courses do %>
                          <tr>
                            <td><%= course.name %></td>
                            <td><%= check_box_tag "courses[]", course.id %></td>
                          </tr>
                      <% end %>
                    </table>
                    <br />
                    <%= submit_tag 'Remove checked courses' %>
             <% end %>
     <% else %>
         Not enrolled on any courses yet.
     <% end %>
        </p>

        <b>Enroll in new course:</b>
        <% if @user.courses.count < Course.count then %>
            <%= form_tag(course_add_user_path(@user)) do %>
                <%= select_tag(:course,
                               options_from_collection_for_select(@user.unenrolled_courses,
                                                                  :id, :name)) %>
                <%= submit_tag 'Enroll' %>
            <% end %>
        <% else %>
            <p><%= @user.name %> is enrolled in every course.</p>
        <% end %>


   <br>
    <b>Student Activity: </b>
    <table border="1">
      <tr>
        <th>Course</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>Check-In</th>
        <th>Check-Out</th>

      </tr>

      <% @courses.each do |c| %>
          <% cs = c.course_sessions.all(:conditions => ["date < ?", Time.now.beginning_of_day]) %>
          <% cs.each do |s| %>
              <% sa = s.student_activities %>
              <% if sa.length == 0 %>
                  <tr class = "absent">
              <% elsif sa.length == 1 %>
                  <tr class = "late">
              <% else %>
                  <% classlength = s.end_time - s.start_time %>
                  <% inclass = sa.last.time - sa.first.time %>
                  <% if inclass < classlength %>
                      <tr class = "late">
                  <% else %>
                      <tr class = "present">
                  <% end %>
              <% end %>

              <td><%= s.course.name %></td>
              <td><%= s.date %></td>
              <td><%= s.start_time.strftime("%I:%M:%S") %></td>
              <% if sa.length > 0 %>
                  <td><%= sa.first.time.strftime("%I:%M:%S") %></td>
              <% end %>
              <% if sa.length > 1 %>
                  <td><%= sa.last.time.strftime("%I:%M:%S") %></td>
              <% end %>
              <% if sa.length == 0 && 1 == 0%>
                  <td></td>
                  <td></td>
                  <%= simple_form_for(@student_activity) do |f| %>
                      <%= f.error_notification %>

                      <td><%= f.input :excuse %>
                        <%= f.submit "Submit Absence Excuse" %></td>

                  <% end %>

              <% end %>
              </tr>

          <% end %>
      <% end %>
    </table>

<% end %>

<% if @user.has_role?(:instructor) == true %>   <br>
    <p><b>Courses Taught:</b> <br>
      <% Course.all(:conditions => {:instructor => @user.id}).each do |course|  %>
         <%= course.name %> <br>
      <% end %>
<% end %>



</p>


<% if current_user.has_role?(:admin) == true  %>
<%= link_to 'Back', users_path %>
<% end %>

<% if current_user.has_role?(:instructor) == true  %>
    <!--should link to course that instructor was just looking at, not all the way home-->
    <%= link_to 'Back', root_path %>
<% end %>


