<h3>Home</h3>

<% if user_signed_in? %>

    <% if current_user.has_role?(:student) == true  %>
        <table border="1">
          <tr>
            <th>Course</th>
            <th>Action</th>
            <th>Date</th>
            <th>Time</th>

          </tr>
          <% @student_activities.each do |activity|  %>

                  <tr>
                    <td><%= activity.course_session.course.name %></td>
                    <td><%= activity.action %></td>
                    <td><%= activity.date %></td>
                    <td><%= activity.time.strftime("%I:%M:%S") %></td>
                  </tr>


          <% end %>
        </table>

    <% end %>

    <% if current_user.has_role?(:instructor) == true  %>
        <% Course.all(:conditions => {:instructor => current_user.id}).each do |course|  %>
            <tr>
              <td><%= link_to(course.name, course) %></td>
            </tr>
            <br>
        <% end %>
        <br>
        <%= link_to 'New Course', new_course_path %>


    <% end %>
    <br><br>

    <% if current_user.has_role?(:admin) == true %>

        <%= link_to 'Users', users_path %> <br>
        <%= link_to 'Courses', courses_path %> <br>


    <% end %>


<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <br>
    <%= link_to 'Sign Up', new_user_registration_path %>

<% end %>