<h3>Home</h3>

<% if user_signed_in? %>

    <% if current_user.has_role?(:student) == true  %>
        <table border="1">
          <tr>
            <th>Course</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>Check-In</th>
            <th>Check-Out</th>

          </tr>

          <% @courses.each do |c| %>
              <% cs = c.course_sessions.all(:conditions => ["date < ?", Time.now.beginning_of_day]) %>
                <% cs.each do |s| %>
                <% sa = s.student_activities.all(:conditions => ["user_id = ?", @user.id]) %>
                <% if sa.length == 0 %>
                      <tr class = "absent">
                <% elsif sa.length == 1 %>
                      <tr class = "late">
                <% else %>
                    <% classlength = s.end_time - s.start_time %>
                    <% inclass = sa.last.time - sa.first.time %>
                      <% if inclass < classlength %>
                          <tr class = "late">
                      <% else %>
                          <tr class = "present">
                      <% end %>
                <% end %>

                    <td><%= s.course.name %></td>
                    <td><%= s.date %></td>
                    <td><%= s.start_time.strftime("%I:%M:%S") %></td>
                    <% if sa.length > 0 %>
                        <td><%= sa.first.time.strftime("%I:%M:%S") %></td>
                    <% end %>
                    <% if sa.length > 1 %>
                        <td><%= sa.last.time.strftime("%I:%M:%S") %></td>
                    <% end %>
                    <% if sa.length == 0 && 1 == 0%>
                      <td></td>
                      <td></td>
                      <%= simple_form_for(@student_activity) do |f| %>
                          <%= f.error_notification %>

                           <td><%= f.input :excuse %>
                            <%= f.submit "Submit Absence Excuse" %></td>

                      <% end %>

                    <% end %>
                  </tr>

              <% end %>
          <% end %>
        </table>

    <% end %>

    <% if current_user.has_role?(:instructor) == true  %>
        <% Course.all(:conditions => {:instructor => current_user.id}).each do |course|  %>
            <tr>
              <td><%= link_to(course.name, course) %></td>
            </tr>
            <br>
        <% end %>
        <br>
        <%= link_to 'New Course', new_course_path %>


    <% end %>
    <br><br>

    <% if current_user.has_role?(:admin) == true %>

        <%= link_to 'Users', users_path %> <br>
        <%= link_to 'Courses', courses_path %> <br>


    <% end %>


<% else %>
    <%= link_to 'Login', new_user_session_path %>
    <br>
    <%= link_to 'Sign Up', new_user_registration_path %>

<% end %>