<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Instructor:</b>
  <% user_id = @course.instructor%>
  <%= User.find(user_id).name %>
</p>



<p>

    <table border="1">
      <tr>
        <th>Course Session</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>

      </tr>
  <% @course.course_sessions.each do |course_session| %>

      <tr>
        <td><%= link_to(course_session.id, course_session) %></td>
        <td><%= course_session.date %></td>
        <td><%= course_session.start_time.strftime("%I:%M:%S") %></td>
        <td><%= course_session.end_time.strftime("%I:%M:%S") %></td>
      </tr>
      <br>
  <% end %>
    </table>
</p>

<%= link_to 'New Course session', new_course_session_path %>

<br><br>

<p>
  <b>Students Enrolled:</b> <br>
  <% @course.users.each do |u|%>
     <%= link_to u.name, u %><br>
  <% end %>
</p>



<br>
<br>

<%= link_to 'Edit', edit_course_path(@course) %>
<%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', root_path %>


