<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @course.name %>
</p>

<p>
  <b>Instructor:</b>
  <% user_id = @course.instructor%>
  <%= User.find(user_id).name %>
</p>

<p>
  <b>Course Sessions:</b>
  <br>
  <% @course.course_sessions.each do |course_session| %>
      <tr>
        <td><%= course_session.course.name %></td>
        <td><%= course_session.date %></td>
        <td><%= course_session.start_time %></td>
        <td><%= course_session.end_time %></td>
        <td><%= link_to 'Show', course_session %></td>
        <td><%= link_to 'Edit', edit_course_session_path(course_session) %></td>
        <td><%= link_to 'Destroy', course_session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>
  <% end %>
</p>

<%= link_to 'New Course session', new_course_session_path %>

<br><br>

<p>
  <b>Students:</b> <br>
  <% @course.users.each do |u|%>
     <%= link_to u.name, u %><br>
  <% end %>
</p>



<br>
<br>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
